.containerForm {
    height: 140px;
    margin-top: 20px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 80%;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: white;
    width: 640px;
    justify-content: space-around;
    border-radius: 10px;
    width: 60%;
}

.input input{
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.input p {
    font-size: 20px;
    font-weight: 600;
}

.form button{
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: yellow;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;
    overflow: hidden;
}

.form button:hover {
    background-color: rgb(187, 187, 2);
}

.select {
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}
